.profile {
    grid-area: p;
    background-color: rgba(75, 0, 130, 0.6);
    border-radius: 7px;
    border-style: ridge;
    border-color: indigo;
    border-width: 2px;
}

.profile img {
    width: 100%;
    height: 150px;
    border-radius: 7px;
    border-style: ridge;
    border-color: indigo;
    border-width: 1px;
}

.ava_inf img {
    width: 100px;
    height: 100px;
}


