.profile {
    width: content-box;
}

.profile img {
    width: 83rem;
    height: 12rem;
    border-radius: 0.37rem;
    border-style: ridge;
    border-color: indigo;
    border-width: 0.05rem;
}

.ava_inf img {
    width: 6rem;
    height: 6rem;
}


