.header {
    grid-area: h;
    background-color: rgba(105, 0, 184, 0.5);
    border-radius: 0.37rem;
    border-style: ridge;
    border-color: indigo;
    border-width: 0.15rem;


}

.header img {
    width: 3.35rem;
    border-radius: 0.37rem;
    border-style: ridge;
    border-color: indigo;
    border-width: 0.1rem;

}
